@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");

:root {
  --verde-destaque: #81fe88;
  --verde-pastel: #bfffc3;
  --verde-petroleo: #132e35;
  --grafite: #01080e;
  --cinza-escuro: #171d1f;
  --cinza-medio: #3e3e3f;
  --cinza-claro: #bcbcbc;
  --offwhite: #e1e1e1;
  --branco: #ffffff;
  --fonte: "Prompt", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: var(--grafite);
  font-family: var(--fonte);
}
